<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="javascript:void(0);">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          {% for nav in navs %}
            {% if nav.show_in_footer %}
            <li class="usa-footer-primary-content parent">
              <a href="{{ nav.permalink | prepend: site.baseurl }}">{{ nav.text }}</a>
              <ul class="usa-unstyled-list children">
                {% for child in nav.children %}
                  {% if child.show_in_footer %}
                    <li class="usa-footer-primary-content">
                      <a href="{{ child.permalink | prepend: site.baseurl }}">{{ child.text }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endfor %}
          <li class="usa-footer-primary-content parent social">
            <span>Stay Connected</span>
            <a href="#" title="Connect with us on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#" title="Follow us on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="#" title="Subscribe to our Youtube Channel"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <img class="usa-footer-slim-logo-img" src="./assets/img/cvetf-logo-pill.png" alt="CVE Task Force Logo">
        <h3 class="usa-footer-slim-logo-heading">Countering Violent Terrorism Task Force</h3>
      </div>
    </div>
  </div>
</footer>