LEAD PANELS
{% for lead in site.data.lead-panels %}
  {% unless lead.featured %}
    {% assign third = forloop.index | modulo: 3 %}
    {% if third == 1 %}
    <div class="usa-width-one-third usa-end-row project lead-panel">
    {% else %}
    <div class="usa-width-one-third project lead-panel">
    {% endif %}
      <a href="{{ lead.link | prepend: site.baseurl }}">
      	<h3 class="lead-title"><span>{{ lead.title }}&nbsp;&gt;</span></h3>
        <span class="lead-image" style="background-image: url({{ lead.image | prepend: site.baseurl }});"></span>
      </a>
    </div>
  {% endunless %}
{% endfor %}