.lead-panel {
  a {
    border: none;
  }
  h3 {
    color: $banner-text-color;
    margin: 0;
    padding: 10px;
    &.primary {
      background-color: #d6e8f3;
    }
    &.secondary {
      background-color: #f7bca0;
    }
    &.ternary {
      background-color: #ffdde8;
    }
  }
}