.lead-panel {
  a {
    border: none;
  }
  h3 {
    color: $banner-text-color;
    margin: 0;
    padding: 10px;
    &.primary {
      background-color: $events-primary-background-color;
    }
    &.secondary {
      background-color: $events-secondary-background-color;
    }
    &.ternary {
      background-color: $events-ternary-background-color;
    }
  }
}