---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="usa-grid usa-separator-large">
    {% include lead-panels.html %}
  </div>
</section>

{% if page.banner-heading %}
<section class="banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <div class="banner-community">
        <div class="usa-grid">
          <h2>{{ page.banner-heading }}</h2>
          <div class="usa-width-one-half">
            <div class="usa-grid no-padding">
              <div class="usa-width-one-third">
                <img src="{{ page.banner1-image }}" alt="{{ page.banner1-image-alt-text }}"/>
              </div>
              <div class="usa-width-two-thirds small-padding-sides">
                <h3>{{ page.banner1-title }}</h3>
                <div>
                  {{ page.banner1-text }}
                </div>
                {% if page.banner1-button-text %}
                  <a href="{{ page.banner1-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner1-button-text }}</a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="usa-width-one-half">
            <div class="usa-grid no-padding">
              <div class="usa-width-one-third">
                <img src="{{ page.banner2-image }}" alt="{{ page.banner2-image-alt-text }}"/>
              </div>
              <div class="usa-width-two-thirds small-padding-sides">
                <h3>{{ page.banner2-title }}</h3>
                <div>
                  {{ page.banner2-text }}
                </div>
                {% if page.banner2-button-text %}
                  <a href="{{ page.banner2-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner2-button-text }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="content">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      {{ content }}
      <div class="center-content">
        {% if page.content-button-link %}
          <a href="{{ page.content-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.content-button-text }}</a>
        {% endif %}
      </div>  
    </div>
  </div>
</section>

<section class="content usa-separator-large">
  <div class="usa-grid">
    <div class="usa-width-two-third">
      {% include news.html %}
    </div>
    <div class="usa-width-one-thirds">
      {% include events.html %}
    </div>
  </div>
</section>

<section class="banner tagline">
  {% include cp.html %}
</section>

{% include contact.html %}
